logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Local Netlify folder
.netlify

# Ignore markdown files
*.md

# Temporary debug folders
temp_base/
temp_latex/
temp_texlive/
temp_texlive_2/
temp_texlive_fonts/
